[submodule "Amur Leopard/PCB/MX_Alps_Hybrid.pretty"]
	path = Amur Leopard/PCB/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "Amur Leopard/PCB/random-keyboard-parts.pretty"]
	path = Amur Leopard/PCB/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "Submodules/MX_Alps_Hybrid.pretty"]
	path = Submodules/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "Submodules/random-keyboard-parts.pretty"]
	path = Submodules/random-keyboard-parts.pretty
	url = https://github.com/ai03-2725/random-keyboard-parts.pretty
[submodule "Submodules/Type-C.pretty"]
	path = Submodules/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
